body{
  font-family: "Montserrat";
text-align: center;} 

#title{
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
 }
 h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-black";
 }
 


 p {
    color: #8f8f8f;
 }
 .container-fluid{
    padding: 7% 15%;
 }


    .big-heading{
      font-family:"Montserrat-Black";
    size: 3.5rem;
    line-height: 1.5;
    

    }
    
    /* Navigation  bar */


    .navbar{

        padding: 0 0 4.5rem;
    }
    .navbar-brand{
        font-family: "Ubuntu";
        font-size: 2.5rem;
        font-weight: bold;
        
    }
  .nav-item{
    padding: 0 18px;
  }
  .nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }
  .download-button{
    margin: 5% 3% 5% 0;
  }
  .title-image{
    width: 15%;
    transform: rotate(25deg);
    position:absolute;
    right: 30%;
  }


  #title .container-fluid{

    padding: 3% 15% 7%;
  }
  
  #features{
   
    background-color: #fff;
    position: relative;
    z-index: 1;
    
  }
  .feature-title{
    font-size: 1.5rem;
  }
  .feature-box{
    
    padding: 5%;

  }
  .icon{
    color: #ef8172;
    margin-bottom: 1rem;
  }
  .icon:hover{
    color: #ff4c68
  }




  /* Testimonials */
  #testimonials{

   
    background-color: #ef8172;
    color: #fff;
  }
  .testimonials-text{
    font-size: 3.5rem;
    line-height: 1.5;
  }

  
   .test-image{
    width: 10%;
    padding-bottom:3% ;


  }





  #press{
  
    background-color: #ef8172;
    padding-bottom: 3%;}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
    #pricing{
      padding: 100px;
   
    }
    .pricing-section {
      padding: 3% 2%;
    }
    .section-heading{
      font-size: 3.5rem;
      line-height: 1.5;
    }
    .pricing-text{
      font-size: 3.5rem;
      line-height: 1.5;
    }



    @media (max-width){
      #title{
        text-align: center;
      }


      .title-image{
        position: static;
        transform: rotate(0);
      }
    }


    #cta{
      
      background-color: #ff4c68;
      color: #fff;
     

    }
    .cta-heading{
        font-family: "Montserrat";
        line-height: 1.5;
        font-size: 3.5rem;

    }
    .para-3{
      margin: 5% 1%;
    }
    #footer{
      margin:100px auto 200px auto ;
      
    }
    .social-icon{
      margin: 10px 10px;
    }